@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');


#root {
  /* height: 100vh; */
  position: relative;
}

body {
  background-color: black;
}

.App {
  text-align: center;
  /* height: 100vh; */
  background-color: black;
  position: relative;
}

.title-wrapper{
  /* background-color: maroon; */
  text-align: left;
  padding: 30px 10%;
  position: relative;

    background-size: cover; 
    background-position: center; 
  
}

.title-wrapper #pixels {
  width: 100%;
  height: 100%;
}

.pixel {
  background-color: #000;
  float: left;
}

.title-wrapper h2 {
  margin: 0;
  padding-bottom: 2px;
  color: #f8f8ff;
  font-size: 24px;
}

.title-wrapper p {
  margin: 0;
  padding-bottom: 20px;
  color: #f8f8ff;
  font-size: 16px;
}

.app-title{
  font-size: 7rem;
  margin: 0;
  line-height: 1;
  font-family: 'Protest Strike', sans-serif;
}

@media (max-width: 1200px) {
  .app-title {
    font-size: 5rem;
  }
}
@media (max-width: 900px) {
  .app-title {
    font-size: 4rem;
  }
}

@media (max-width: 780px) {
  .app-title {
    font-size: 3rem;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8f8ff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* HOME */

.home {
  height: 100vh;
  margin-top: 7%;
}
@media (max-width: 700px) {
  .subheader  {
    margin-top: 18%;
  }
}

.home h1 {
  color: #dddddd;
}

.subheader {
  font-size: 3rem;
  font-family: 'Protest Strike', sans-serif;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .subheader  {
    font-size: 2rem!important;
  }
}

.subheader-wrapper {
  position: relative;
  padding: 0 10%;
  margin-bottom: 3%;
}

.dracula-wrap {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 30px;
  display: grid;
  grid-gap: 25px;
  padding-bottom: 80px;
  text-align: center;
  padding: 0 10%;
  padding-bottom: 100px;
}
.single-dracula img {
    transition: .3s;
}
.single-dracula:hover img{
  transform: scale(1.1);
}
.svg-inline--fa:hover {
  transition: .3s;
  opacity: .6;
}

.logo-wrapper {
  position: absolute;
  z-index: 100;
  left: 10%;
  top: 40%;
}
.logo-wrapper img {
  width: 80px;
}
.logo-wrapper-two {
  position: absolute;
  z-index: 100;
  right: 10%;
  top: 40%;
}
.logo-wrapper-two img {
  width: 80px;
  transform: scaleX(-1);
}

@media (max-width: 550px) {
  .logo-wrapper, .logo-wrapper-two {
    top: 64%;
  }
}

@media (max-width: 900px) {
  .logo-wrapper img, .logo-wrapper-two img {
    width: 40px;
  }
}


.about  {
  margin: 0;
  margin-right: 38px;
  cursor: pointer;
}
.dracula-wrap p{
  color: #f8f8ff;
  margin-bottom: 5px;
}

.plus-drac {
  position: absolute;
  color: white;
  top: 10px;
  right: 180px;
  cursor: pointer;
}

@media only screen and (max-width: 940px) {
  .plus-drac {
    position: relative;
    top: 0;
    right: 0;
  }
  .subheader-wrapper h1 {
    margin-bottom: 5px;
  }
}


.dracula-image {
  max-width:230px;
  max-height:155px;
  width: auto;
  height: auto;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, 
  rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

@media only screen and (max-width: 800px) {
  .dracula-wrap {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .dracula-image {
    width: 75%;
    max-width: 75%; 
     max-height: 75%; 
     width: 75%; 
     height: 75%;
     background-color: #f8f8ff;
  }
}

/* DETAIL */

.detail {
  margin: 10%;
  border: 1px solid black;
  border-radius: 3px;
}

.detail-page {
  position: absolute;
  background: black;
  margin: 0 auto;
  top: 0;
  width: 100vw;
  /* min-height: 180vh; */
  z-index: 2000;
}

.edit-wrapper {

}

.hide-detail-page {
  display: none;
}

.edit-wrapper img {
  width: 20px;
  cursor: pointer;
}


.detail-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8ff;
}
@media (max-width: 800px) {
  .detail-header {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .detail {
    margin: 0%;
    margin-top: 25%;
  }
}

.detail-header h6 {
  display: inline-block;
  margin-left: 10px;
}

.detail-header h2 {
  flex: 1;
  margin-left: 10px;
}

.dracula-detail-image {
  width: 90px;
}
@media (max-width: 800px) {
  .dracula-detail-image {
    width: 100%;
  }
}

.dracula-review-card {
  padding: 0;
}

hr {
  margin: 0px;
}

.review-top:hover {
  background-color: rgb(233, 230, 230) ;
}

.dracula-review-card p {
  display: inline-block;

}

.dracula-review-card h3 {
  margin: 0px;
}

.arrow {
  cursor:pointer;
  color: #f8f8ff;
  transition: .3s;
}
.arrow:hover {
  color: lightgray;
}

.review-top {
  cursor: pointer;
  padding: 10px;
  background-color: #f8f8ff;
  transition: .3s
}

.review-bottom {
  background-color: #f8f8ff;
  padding: 10px;
}


.review-bottom .description {
  display: block;
}

.reviewed-by {
  display: block;
  margin-top: 0;
  /* padding: 0 10px 10px 10px; */
}

.chevron.expanded {
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}

.review-top h3{
  display: inline-block

}

.chevron {
  float: right;
  margin-top: 3px;
  margin-right: 5px;
}

.review-subheader, .add-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f8f8ff;
}

.add-wrapper p {
  margin-right: 5px;
}

.plus {
  font-size: 1.5rem;
  color: black;
  transition: .3s;
  /* margin-top: 19px; */
}

.plus:hover {
  color: lightgray
}

.plus-wrapper {
  cursor: pointer;
}

.arrow-link {
  position: absolute;
  top: 20px;
  right: 16%;
}

@media (max-width: 800px) {
  .arrow-link {
    top: 33px;
  }
}

.modal-top h1 {
  color: black;
  font-size: 5rem;
  font-family: "Trade Winds", Arial, Helvetica, serif;
}

.modal-wrapper {
  width: 100vw;
  min-height: 90vh;
  background-color: lightgray;
  z-index: 5000;
}



.x {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  margin-right: 20px;
  transition: .3s;
}
.x img {
  width: 30px;
  transform: rotate(45deg);
}

.x:hover {
  color: lightgray
}

/* MODAL */

.modal-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  right: 0;
  background-color: black;
  z-index: 5000;
  /* padding-top: 6%; */
}

.login-submit-button, .signup-submit-button {
  width: 385px!important;
}

.modal-wrapper {
  width: 100%;
  height: 90vh;
  /* background: #f8f8ff; */
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  background-color: black;
}

.modal-content {
  border: 1px black solid;
  width: 70%;
  min-height: 60%;
  margin: auto;
  background-color: #f8f8ff;
  padding: 32px;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-top h1 {
  margin: 0;
  padding-left: 20px;;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.review-title-textbox {
  width: 350px;
  margin-bottom: 20px;
  padding: 5px;
  border: 3px solid black;
}
.file-input {
  border: 3px solid black;
  background-color: white;
  border: 3px solid black;
  height: 35px;
  cursor: pointer;
}

.review-textarea {
  width: 350px;
  margin-bottom: 30px;
  border: 3px solid black;
}

.submit-review-button {
  padding: 10px;
  width: 362px;
  border: 1px solid black;
  background-color: #f8f8ff;
  transition: .3s;
  cursor: pointer;
  margin-top: 0!important;
}

.submit-review-button:hover {
  background-color: lightgray;
}

.form p {
  margin: 30px 0 0 0;
}


/* REGISRATION */

.registration {
  background-color: darkgray;

}

.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 10px 0;
  padding: 15px;
  width: 350px;
  border: 3px solid black;
}
button {
  padding: 10px;
  /* width: 120px; */
  border: 1px solid black;
  background-color: #f8f8ff;
  transition: .3s;
  cursor: pointer;
  margin-top: 12px;
  width: 382px;
  height: 70px;
  background-color: black!important;
  color: white;
  font-family: "Trade Winds", Arial, Helvetica, serif;
  font-size: 20px;
}
button:hover {
  background-color: #9f0000!important;
  color: white;
}
input:focus, textarea {
  outline: none !important;
  font-size: 20px;
  border:3px solid rgb(228, 31, 31);
  font-family: "Trade Winds", Arial, Helvetica, serif;
}
textarea:focus {
  border:3px solid rgb(228, 31, 31);
}

.review-title-textbox{
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.rate {
  margin-bottom: 10px!important;
}
.review-title {
margin-top: 20px!important;
}
.review {
  margin-bottom: 10px!important;
}

.cross-side {
  filter: invert(100%);
    transform: rotate(270deg);
    width: 50px;
}


.form p {
  margin-top: 10px;
}

input[type="text"], input[type="password"]
{
    font-size:24px!important;
    font-family: "Trade Winds", Arial, Helvetica, serif;

}
.svg-inline--fa {
  cursor: pointer;
}
.modal-wrapper {
  margin-top: 6%;
}

.modal-body h3 {
  margin-top: 0;
  font-family: 'Protest Strike', sans-serif;
}
.reg-password {

}

.reg-password {

}

.reg-password-confirmation {

}

.subnav-top {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.subnav-top h3 {
  margin: 0;
  padding: 1px;
  cursor: pointer;
  grid-column: 1;
}

.subnav-bottom {
  background-color: darkgray;


}

.nav {
  background-color: darkgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  padding-right: 10%;
  background-color: black;
  position: relative;
  margin-top: -10px;
}

.user-icon {
  height: 20px;
  padding: 3px;

}
.user-icon-wrapper {
  cursor: pointer;
  z-index: 100;
  top: 50px;
  position: absolute;
}

.user-icon-wrapper img {
  width: 50px;
}


.hover-wrapper {
  background-color: black;
  width: 300px!important;
  position: absolute;
  right: 10px;
  border-radius: 5px;
  transition: .3s;
  z-index: 500;
  margin-top: 50px;
  transition: .3s;
}

.login-button, .logout-button, .signup-button {
  color: white;
  font-size: 20px;
  padding: 8px 0;
  width: 300px!important;
  font-family: 'Protest Strike', sans-serif;
}

.login-button:hover, .logout-button:hover, .signup-button:hover {
  background-color: gray;
  cursor: pointer;
  width: 300px!important;

}

.user-icon:hover + .hover-wrapper {
  display: block;
}

/* .dropdown {
  background-color: red;
}

.dropdown-control {

}
.dropdown-placeholder {
  
}
.dropdown-menu {
  
}
.dropdown-arrow {
  
}
.arrow-closed {
  
}
.arrow-open {
  
} */


.arrow-closed, .arrow-open {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
}

.arrow-closed {
  top: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color:#dddddd!important;
}

.arrow-open {
  top: 14px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: #9f0000 !important;
  border: 1px solid #9f0000 !important;
  color:#dddddd!important;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer!important;
  outline: none;
  padding: 2px 10px !important;
  transition: all 200ms ease;
  width: 250px;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-placeholder {

}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent rgb(90, 87, 87);
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  width: 250px!important;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.my-custom-class {
  border: 2px solid red;
  font-weight: bold;
  color: purple;
}

.trash {
  margin-left: 30px;
}

.upload-buttons-wrapper {
  display: flex;
    justify-content: center;
}

.upload-image-button-left, .upload-image-button-right {
  background-color: #f2f9fc;;
  border-radius: 2px;
  border: 1px black solid;
  padding: 5px 3px;
  width: 160px;
  cursor: pointer;
  transition: .3s;
}

.upload-image-button-left:hover, .upload-image-button-right:hover {
 background-color: lightgray;
}

.upload-image-button-left {
  margin-right: 25px;
}

.loading-text {
  color: white;
  font-size: 5rem;
}

.welcome {
  margin: 0;
  font-size: 29px;
}

.trash-wrapper {
  /* display: inline-block; */
}
.drac-trash {
  color: white;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.drac-name {
  display: inline-block; 
}

.loading-gif {
  width: 20vw;
}

.review-number {
  color: maroon;
}

.popup {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 30vw;
  border-radius: 5px;
  top: 60px;
  right: 30px;
  padding: 5px;
}

.popup h3  {
  padding: 0;
  margin: 0;
}

.popup p  {
  padding: 0;
  margin: 0;
}

.padding-x {
  position: absolute;
  padding: 0;
  margin: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  line-height: .5;
}

.are-you-sure {
  background-color: white;
  position: absolute;
  width: 80vw;
  height: 50vh;
}

.yes-button {
  background-color: maroon;
  width: 20%;
  height: 100px;
  text-align: center;
  transition: .3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  margin: 10px;
  font-family: 'Protest Strike', sans-serif;
}

.no-button {
  background-color: gray;
  width: 20%;
  height: 100px;
  text-align: center;
  transition: .3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  margin: 10px;
  font-family: 'Protest Strike', sans-serif;
}

.yes-button:hover {
  background-color: rgb(63, 4, 4);
}

.no-button:hover {
  background-color: rgb(80, 79, 79);
}

.cancel-button {

}


.yes-text {

}

.are-you-sure-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;

}


.please-sign-in {
  background-color: white;
}

.modal-showing {
  display: none;
}






@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");

body {
	/* margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	background: radial-gradient(circle at 50% 125%, #181818 0%, #0000 30%),
		radial-gradient(circle at 50% -25%, #181818 0%, #0000 30%), #000;
	overflow: hidden; */
}
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");

body {
	/* margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	background: radial-gradient(circle at 50% 125%, #181818 0%, #0000 30%),
		radial-gradient(circle at 50% -25%, #181818 0%, #0000 30%), #000;
	overflow: hidden; */
}

.content {
	width: 100vw;
  height: 289px;
	display: flex;
	justify-content: center;
}

@media (max-width: 600px) {
  .content  {
    height: 350px;
  }
}

.col {
	width: 3vmax;
	height: 0;
	position: relative;
	box-sizing: border-box;
	margin: 0;
	float: left;
	border-radius: 0 0 3vmax 3vmax;
	margin-top: -2vmin;
	background: #9f0000;
	animation: drop 3s cubic-bezier(0.34, 0.03, 0.76, 0.94) 0s;
	animation-fill-mode: forwards;
	box-shadow: 0 0 2px 1px #9f0000;
	/*animation-play-state: paused;*/
}

.col:before {
	content: "";
	background: #9f0000;
	width: calc(100% + 0.2vmin);
	height: 3vmax;
	position: absolute;
	bottom: -0.15vmin;
	border-radius: 0 100% 100% 100%;
	left: -0.1vmin;
	transform: rotate(35deg);
}

.col:after {
	content: "";
	width: 2.25vmax;
	height: 2.25vmax;
	position: absolute;
	border-radius: 100%;
	right: 0.25vmax;
	bottom: 0.25vmax;
	border: 0.25vmax solid #ffffff00;
	border-bottom-color: #ffffff50;
	transform: rotate(-65deg);
	filter: blur(1px) drop-shadow(0 0 5px #fff);
	opacity: 0.5;
}

.col:nth-child(2) {
	animation-delay: 0.5s;
	animation-duration: 4s;
	width: 4vmax;
}

.col:nth-child(3) {
	animation-delay: 0.7s;
	animation-duration: 2s;
	width: 3.35vmax;
}

.col:nth-child(4) {
	animation-delay: 0.75s;
	animation-duration: 4.17s;
}

.col:nth-child(5) {
	animation-delay: 1.15s;
	animation-duration: 2.5s;
	width: 4vmax;
}

.col:nth-child(6) {
	animation-delay: 0.65s;
	animation-duration: 3.5s;
	width: 3.35vmax;
}

.col:nth-child(7) {
	animation-delay: 0.85s;
	animation-duration: 3.75s;
}

.col:nth-child(8) {
	animation-delay: 1.05s;
	animation-duration: 3.16s;
}

.col:nth-child(9) {
	animation-delay: 0.15s;
	animation-duration: 2.25s;
	width: 4vmax;
}

.col:nth-child(10) {
	animation-delay: 0.45s;
	animation-duration: 2.75s;
	width: 3.35vmax;
}

.col:nth-child(11) {
	animation-delay: 0.25s;
	animation-duration: 2.5s;
}
.col:nth-child(12) {
	animation-delay: 0.45s;
	animation-duration: 3.35s;
	width: 4vmax;
}

.col:nth-child(13) {
	animation-delay: 0.625s;
	animation-duration: 2.15s;
}

.col:nth-child(14) {
	animation-delay: 0.25s;
	animation-duration: 2.38s;
	width: 4vmax;
}

.col:nth-child(15) {
	animation-delay: 0.45s;
	animation-duration: 4.035s;
}

.col:nth-child(16) {
	animation-delay: 0.145s;
	animation-duration: 2.35s;
	width: 3.35vmax;
}

.col:nth-child(17) {
	animation-delay: 0.75s;
	animation-duration: 2.65s;
	width: 4vmax;
}

.col:nth-child(18) {
	animation-delay: 0.325s;
	animation-duration: 1.85s;
}

.col:nth-child(19) {
	animation-delay: 0.15s;
	animation-duration: 2.75s;
	width: 3.35vmax;
}

.col:nth-child(20) {
	animation-delay: 0.33s;
	animation-duration: 3.05s;
	width: 4vmax;
}

.col:nth-child(21) {
	animation-delay: 0.133s;
	animation-duration: 3.95s;
}

.col:nth-child(22) {
	animation-delay: 0.73s;
	animation-duration: 2.44s;
	width: 3.35vmax;
}

.col:nth-child(23) {
	animation-delay: 0.55s;
	animation-duration: 3.05s;
	width: 4vmax;
}

.col:nth-child(24) {
	animation-delay: 0.66s;
	animation-duration: 4.05s;
}

.col:nth-child(25) {
	animation-delay: 0.33s;
	animation-duration: 1.95s;
	width: 3.35vmax;
}

.col:nth-child(26) {
	animation-delay: 0.525s;
	animation-duration: 2.65s;
}

.col:nth-child(27) {
	animation-delay: 0.225s;
	animation-duration: 2.95s;
	width: 4vmax;
}

.col:nth-child(28) {
	animation-delay: 0.99s;
	animation-duration: 1.575s;
	width: 3.35vmax;
}

.col:nth-child(29) {
	animation-delay: 0.88s;
	animation-duration: 2.35s;
	width: 4vmax;
}

.col:nth-child(30) {
	animation-delay: 0.77s;
	animation-duration: 3.15s;
}

@keyframes drop {
	0% {
		height: 0%;
	}
	100% {
		height: calc(100% + 6vmax);
	}
}

.text {
	text-align: center;
	font-family: "Trade Winds", Arial, Helvetica, serif;
	position: absolute;
	font-size: 20vmin;
	font-weight: bold;
	height: 100%;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	/*mix-blend-mode: overlay;*/
	opacity: 0.95;
	/* text-shadow: -2px -2px 2px #0000006b; */
	/* -webkit-text-stroke: 2.25vmin #0000004d; */
	-webkit-text-fill-color: #000000;
  padding-top: 68px;
}

@media only screen and (orientation: portrait) {
	.col:before {
		height: 3vmin;
	}
}


.modal-open {
  /* overflow: hidden!important; */
}