#root {
  /* height: 100vh; */
}

body {
  background-color: black;
}

.App {
  text-align: center;
  /* height: 100vh; */
  background-color: black;
}

.title-wrapper{
  background-color: maroon;
}

.title-wrapper h2 {
  margin: 0;
  padding-bottom: 2px;
  color: #f8f8ff;
  font-size: 20px;
}
.title-wrapper p {
  margin: 0;
  padding-bottom: 20px;
  color: #f8f8ff;
  font-size: xx-small;
}

.app-title{
  font-size: 7rem;
  margin: 0;
  line-height: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8f8ff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* HOME */

.home {
  margin: 20px;
  height: 100vh;
}

.home h1 {
  color: #f8f8ff;
}

.subheader {
  font-size: 3rem;
}

.subheader-wrapper {
  position: relative;
}

.dracula-wrap {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 30px;
  display: grid;
  grid-gap: 25px;
}

.dracula-wrap p{
  color: #f8f8ff;
  margin-bottom: 5px;
}

.plus-drac {
  position: absolute;
  color: white;
  top: 10px;
  right: 180px;
  cursor: pointer;
}

@media only screen and (max-width: 940px) {
  .plus-drac {
    position: relative;
    top: 0;
    right: 0;
  }
  .subheader-wrapper h1 {
    margin-bottom: 5px;
  }
}


.dracula-image {
  max-width:230px;
  max-height:155px;
  width: auto;
  height: auto;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, 
  rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

@media only screen and (max-width: 800px) {
  .dracula-wrap {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .dracula-image {
    width: 75%;
    max-width: 75%; 
     max-height: 75%; 
     width: 75%; 
     height: 75%;
     background-color: #f8f8ff;
  }
}

/* DETAIL */

.detail {
  margin: 15%;
  border: 1px solid black;
  border-radius: 3px;
}

.detail-page {
  position: absolute;
  background: black;
  margin: 0 auto;
  top: 0;
  width: 100vw;
  height: 100vh
}


.detail-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8ff;
}

.detail-header h6 {
  display: inline-block;
  margin-left: 10px;
}

.detail-header h2 {
  flex: 1;
  margin-left: 10px;
}

.dracula-detail-image {
  width: 90px;
}

.dracula-review-card {
  padding: 0;
}

hr {
  margin: 0px;
}

.dracula-review-card p {
  display: inline-block;
  margin-left: 5px;
}

.dracula-review-card h3 {
  margin: 0px;
}

.arrow {
  cursor:pointer;
  color: #f8f8ff;
  transition: .3s;
}
.arrow:hover {
  color: lightgray;
}

.review-top {
  cursor: pointer;
  padding: 3px;
  background-color: #f8f8ff;
}

.review-bottom {
  background-color: #f8f8ff;
}

.review-top h3{
  display: inline-block

}

.chevron {
  float: right;
  margin-top: 3px;
  margin-right: 5px;
}

.review-top:hover {
  /* background-color: lightgray; */
}

.review-subheader, .add-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f8f8ff;
}

.add-wrapper p {
  margin-right: 5px;
}

.plus {
  font-size: 1.5rem;
  color: black;
  transition: .3s;
  /* margin-top: 19px; */
}

.plus:hover {
  color: lightgray
}

.plus-wrapper {
  cursor: pointer;
}

.arrow-link {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-top h1 {
  color: black;
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}

.x {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  margin-right: 20px;
  transition: .3s;
}

.x:hover {
  color: lightgray
}

/* MODAL */

.modal-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  right: 0;
  background-color: black;
}

.modal-wrapper {
  width: 100%;
  margin-top: 15%;
  height: 100vh;
  /* background: #f8f8ff; */
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  background-color: black;
}

.modal-content {
  border: 1px black solid;
  width: 70%;
  height: 60%;
  margin: auto;
  background-color: #f8f8ff;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-top h1 {
  margin: 0;
  padding-left: 20px;;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.review-title-textbox {
  width: 350px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid black;
}

.review-textarea {
  width: 350px;
  margin-bottom: 30px;
  border: 1px solid black;
}

.submit-review-button {
  padding: 10px;
  width: 120px;
  border: 1px solid black;
  background-color: #f8f8ff;
  transition: .3s;
  cursor: pointer;
}

.submit-review-button:hover {
  background-color: lightgray;
}

.form p {
  margin: 30px 0 0 0;
}


/* REGISRATION */

.registration {
  background-color: darkgray;

}

.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-form input{
  margin: 10px 0;
  padding: 5px;
  width: 250px;
}

.reg-password {

}

.reg-password {

}

.reg-password-confirmation {

}

.subnav-top {
  background-color: darkgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.subnav-top h3 {
  margin: 0;
  padding: 1px;
  cursor: pointer;
  grid-column: 1;
}

.subnav-bottom {
  background-color: darkgray;


}

.nav {
  background-color: darkgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  padding-right: 10px;
}

.user-icon {
  height: 20px;
  padding: 3px;
  cursor: pointer;
}


.hover-wrapper {
  background-color: black;
  width: 350px;
  position: absolute;
  right: 10px;
  border-radius: 5px;
  transition: .3s;
  z-index: 5;

}

.login-button, .logout-button, .signup-button {
  color: white;
  font-size: 20px;
  padding: 8px 0;

}

.login-button:hover, .logout-button:hover, .signup-button:hover {
  background-color: gray;
  cursor: pointer;

}

.user-icon:hover + .hover-wrapper {
  display: block;
}

/* .dropdown {
  background-color: red;
}

.dropdown-control {

}
.dropdown-placeholder {
  
}
.dropdown-menu {
  
}
.dropdown-arrow {
  
}
.arrow-closed {
  
}
.arrow-open {
  
} */


.arrow-closed, .arrow-open {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
}

.arrow-closed {
  top: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-open {
  top: 14px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: darkgray !important;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: black !important;
  cursor: pointer!important;
  outline: none;
  padding: 2px 10px !important;
  transition: all 200ms ease;
  width: 250px;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-placeholder {

}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent rgb(90, 87, 87);
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.my-custom-class {
  border: 2px solid red;
  font-weight: bold;
  color: purple;
}

.trash {
  margin-left: 30px;
}

.upload-buttons-wrapper {
  display: flex;
    justify-content: center;
}

.upload-image-button-left, .upload-image-button-right {
  background-color: #f2f9fc;;
  border-radius: 2px;
  border: 1px black solid;
  padding: 5px 3px;
  width: 160px;
  cursor: pointer;
  transition: .3s;
}

.upload-image-button-left:hover, .upload-image-button-right:hover {
 background-color: lightgray;
}

.upload-image-button-left {
  margin-right: 25px;
}

.loading-text {
  color: white;
  font-size: 5rem;
}